:root {
    --pastel-blue: #b3ebf2;
    --pastel-purple: #b19cd9;
    --pastel-green: #b2fba5;
    --pale-yellow: #ffffc5;
    --pale-white: #fbfbfd;
}
body {
    background-color: #262626;
    position: relative;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
#new-task-form {
    /* display: flex;
    justify-content: center; */
    width: auto;
    text-align: center;
    height: 25px;
    margin: 20px;
}
#new-task-btn {
    margin: 10px;
    padding: 10px;
}

.black-hole {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    display: block;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105px;
    overflow-wrap: break-word;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #5d5d5d;
    z-index: 99;
    color: #e7e7e7;
}
.title-element {
    font-size: 20px;
    text-decoration: underline;
}
.card {
    width: 80px;
    overflow-wrap: break-word;
    font-size: 16px;
    margin: 5px;
}
.card-span {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    width: 103px;
    height: 10px;
    border-radius: 15px;
}
.blue {
    background-color: var(--pastel-blue);
}
.purple {
    background-color: var(--pastel-purple);
}
.green {
    background-color: var(--pastel-green);
}
