:root {
    --pastel-blue: #b3ebf2;
    --pastel-purple: #b19cd9;
    --pastel-green: #b2fba5;
    --pale-yellow: #ffffc5;
    --pale-white: #fbfbfd;
}
body {
    background-color: var(--pale-yellow);
    position: relative;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    width: 100%;
}
#new-task-form {
    /* display: flex;
    justify-content: center; */
    width: auto;
    text-align: center;
    height: 25px;
    margin: 20px;
}
#new-task-btn {
    margin: 10px;
    padding: 10px;
}
.black-hole {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    display: block;
    z-index: -99;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 125px;
    overflow-wrap: break-word;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--pale-white);
    z-index: 99;
}
.title-element {
    font-size: 20px;
}
.card {
    width: 100px;
    overflow-wrap: break-word;
    font-size: 16px;
    margin: 5px;
}
.card-span {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    width: 123px;
    height: 10px;
    border-radius: 15px;
}
.blue {
    background-color: var(--pastel-blue);
}
.purple {
    background-color: var(--pastel-purple);
}
.green {
    background-color: var(--pastel-green);
}
